---
import { Icon } from "astro-icon";
---

<div class="absolute top-0 inset-0">
  <Icon name="grid" class='w-full h-[100lvh] dark:opacity-70 opacity-[8%] transition-all duration-200 ease-in-out'/>
</div>
