---
import Buttons from "@components/Buttons.astro";
---

<Buttons
  ButtonUrl="#"
  ButtonClass="text-midu-50 bg-midu-purple-500 backdrop-blur-sm max-w-xs rounded-full ring-2 dark:ring-midu-purple-600 ring-midu-purple-950 pointer-events-none"
>
  <span class="">Faltan 4 días para el próximo directo</span>
</Buttons>
